body{
    margin:0;
    padding:5px;
    background:white;
}

/* Container */
.barcode-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
}

/* Each label */
.label{
    box-sizing:border-box;
    padding:5px;
    margin:4px;
    text-align:center;
}

/* Store name */
.store{
    margin-bottom:2px;
}

/* Price */
.price{
    margin:2px 0;
}

/* Product name */
.name{
    margin-top:2px;
}

/* SKU */
.sku{
    font-size:12px;
}

/* Print Settings */
@media print {

    body{
        margin:0;
        padding:0;
    }

    .label{
        page-break-inside:avoid;
    }

}
