/* SCREEN VIEW */
.barcode-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap:10px;
}

/* LABEL */
.label{
    width:250px;
    height:150px;
    border:1px solid black;
    padding:5px;
    text-align:center;
    background:white;
}

/* PRINT VIEW */
@media print{

    body *{
        visibility:hidden;
    }

    #print-area,
    #print-area *{
        visibility:visible;
    }

    #print-area{
        position:absolute;
        left:0;
        top:0;
        width:100%;

        display:grid;
        grid-template-columns: repeat(3, 70mm);
        gap:5mm;
    }

    .label{
        width:70mm;
        height:40mm;
        border:1px solid black;
        padding:2mm;
        page-break-inside:avoid;
    }

    .barcode img{
        width:100%;
        height:18mm;
    }

    .no-print{
        display:none;
    }

}
