.product-btn {
    height: 100px;
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-weight: 600;
}

.product-btn:hover {
    background: #0d6efd;
    color: white;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
