{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>EPOS</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- POS CSS -->
    <link rel="stylesheet" href="{% static 'css/pos.css' %}">
</head>
<body>

{% block content %}{% endblock %}

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- POS JS -->
<script src="{% static 'css/pos.js' %}"></script>

</body>
</html>
