{% extends "base.html" %}

{% block content %}
<div class="row g-4">

    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h6>Today's Sales</h6>
            <h4 class="text-success">PKR 0</h4>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h6>Total Orders</h6>
            <h4>0</h4>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h6>Cash Sales</h6>
            <h4>PKR 0</h4>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h6>Card Sales</h6>
            <h4>PKR 0</h4>
        </div>
    </div>

</div>
{% endblock %}
