{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row h-100">

    <!-- PRODUCTS -->
    <div class="col-8">
        <div class="card h-100 p-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="mb-0">Products</h5>
                <input type="text" class="form-control w-25" placeholder="Search product">
            </div>

            <div class="row g-3">
                {% for product in products %}
                <div class="col-3">
                    <button class="product-card"
                        onclick="addToCart('{{ product.id }}', '{{ product.name }}', {{ product.price }})">
                        <div class="fw-bold">{{ product.name }}</div>
                        <div class="price">PKR {{ product.price }}</div>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- CART -->
    <div class="col-4">
        <div class="card h-100 p-3 d-flex flex-column">

            <h5>Current Sale</h5>

            <div id="cart-items" class="flex-grow-1 cart-items"></div>

            <hr>

            <div class="d-flex justify-content-between fw-bold fs-5">
                <span>Total</span>
                <span>PKR <span id="total">0</span></span>
            </div>

            <button class="btn btn-success btn-lg mt-3" onclick="checkout()">
                PAY
            </button>
        </div>
    </div>

</div>
<div class="modal fade" id="receiptModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body" id="receiptContent">
        <h5 class="text-center">EPOS RECEIPT</h5>
        <hr>
        <div id="receipt-items"></div>
        <hr>
        <strong>Total: PKR <span id="receipt-total"></span></strong>
        <p>Payment: <span id="receipt-payment"></span></p>
        <button onclick="window.print()" class="btn btn-success w-100 mt-2">
          Print
        </button>
      </div>
    </div>
  </div>
</div>


<script src="{% static 'js/pos.js' %}"></script>
{% endblock %}
