{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/barcode.css' %}">
{% endblock %}

{% block content %}

<div class="no-print">
    <button onclick="window.print()" class="btn btn-primary print-btn">
        Print Labels
    </button>
</div>

<!-- PRINT AREA -->
<div id="print-area" class="barcode-container">

    {% for product in products %}

    <div class="label">

        <div class="store">
            {{ store_name }}
        </div>

        <div class="price">
            Regular Price: <s>{{ product.price }}</s>
        </div>

        <div class="price">
            Discount Price: {{product.price }}
        </div>

        <div class="barcode">
            <img src="data:image/png;base64,{{ product.barcode }}">
        </div>

        <div class="name">
            {{ product.name }}
        </div>

        <div class="sku">
            *{{ product.sku }}*
        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}
