{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/barcode.css' %}">
{% endblock %}

{% block content %}

<div class="barcode-container">

    <button onclick="window.print()" class="btn btn-primary print-btn no-print">
        Print Labels
    </button>

    <div style="clear:both;"></div>

    {% for item in items %}

    <div class="label">

        <div class="store">
            {{ store_name }}
        </div>

        <div class="price">
            Regular Price: <s>{{ item.price }}</s>
        </div>

        <div class="price">
            Discount Price: {{ item.price }}
        </div>

        <div class="barcode">
            <img src="data:image/png;base64,{{ item.barcode }}">
        </div>

        <div class="name">
            {{ item.name }}
        </div>

        <div class="sku">
            *{{ item.sku }}*
        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}
