{% extends "base.html" %}
{% block content %}

<div class="container-fluid">

    <h4 class="mb-3">Add Color</h4>

    <div class="card shadow-sm">
        <div class="card-body">

            <form method="POST">
                {% csrf_token %}

                <div class="row">

                    <!-- COLOR CODE (DISPLAY ONLY) -->
                    <div class="col-md-6">
                        <label class="form-label">Color Code</label>
                        <input type="text"
                               value="{{ next_code }}"
                               class="form-control"
                               readonly>
                    </div>

                    <!-- COLOR NAME (THIS IS THE IMPORTANT ONE) -->
                    <div class="col-md-6">
                        <label class="form-label">Color Name</label>
                        <input type="text"
                               name="Color_name"
                               class="form-control"
                               placeholder="Enter color name"
                               required>
                    </div>

                </div>

                <br>

                <button type="submit" class="btn btn-primary px-5">
                    Save Color
                </button>

            </form>

        </div>
    </div>

</div>

{% endblock %}
