{% extends "base.html" %}
{% block content %}

<div class="container-fluid">

    <h4 class="mb-3">Edit Unit</h4>

    <div class="card shadow-sm">
        <div class="card-body">

            <form method="POST">
                {% csrf_token %}

                <div class="row">

                    <div class="col-md-6">
                        <label>Unit Code</label>
                        <input type="text" name="Unit_code" value="{{ unit.Unit_code }}" class="form-control">
                    </div>

                    <div class="col-md-6">
                        <label>Unit Name</label>
                        <input type="text" name="Unit_name" value="{{ unit.Unit_name }}" class="form-control">
                    </div>

                </div>

                <br>

                <button type="submit" class="btn btn-success">Update Unit</button>
                <a href="{% url 'Unit_list' %}" class="btn btn-secondary">Back</a>

            </form>

        </div>
    </div>

</div>

{% endblock %}
