{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">

    <h4 class="mb-3">Price Checker</h4>

    <!-- SEARCH BOX -->
    <div class="card shadow-sm mb-3">
        <div class="card-body">

            <input type="text"
                   id="search_box"
                   class="form-control form-control-lg"
                   placeholder="Please cursor here to scan barcode or write 3 characters to search"
                   autofocus>

        </div>
    </div>

    <!-- RESULT SECTION -->
    <div class="card shadow-sm">
        <div class="card-body">

            <div class="row mb-4">

    <div class="col-md-4">
        <h6>ITEM NAME</h6>
        <h4 id="item_name">-</h4>
    </div>

    <div class="col-md-4">
        <h6>SKU / BARCODE</h6>
        <h4 id="sku">-</h4>
    </div>

    <div class="col-md-4">
        <h6>STOCK</h6>
        <h4 id="stock">-</h4>
    </div>

</div>

<div class="row">

    <div class="col-md-4">
        <h6>REGULAR PRICE</h6>
        <h4 id="regular_price">-</h4>
    </div>

    <div class="col-md-4">
        <h6>SALE PRICE</h6>
        <h4 id="sale_price">-</h4>
    </div>

    <div class="col-md-4">
        <h6>FINAL PRICE</h6>
        <h3 id="item_price" class="text-success">-</h3>
    </div>

</div>
            </div>

        </div>
    </div>

</div>

<script>
document.getElementById("search_box").addEventListener("keyup", function () {

    let value = this.value.trim();

    if (value.length >= 3) {

        fetch(`/items/ajax/price-checker-search/?q=${value}`)
        .then(response => response.json())
        .then(data => {

            if (data.status) {

                document.getElementById("item_name").innerText = data.item_name;
                document.getElementById("sku").innerText = data.sku;
                document.getElementById("stock").innerText = data.stock;
                document.getElementById("regular_price").innerText = data.regular_price;
                document.getElementById("sale_price").innerText = data.sale_price;
                document.getElementById("item_price").innerText = data.final_price;

            }

        });

    }

});
</script>

{% endblock %}
