{% extends "base.html" %}
{% block content %}

<div class="container-fluid">

    <h4 class="mb-3">Add Size</h4>

    <div class="card shadow-sm">
        <div class="card-body">

            <form method="POST">
                {% csrf_token %}

                <div class="row">

                    <div class="col-md-6">
                        <label class="form-label">Size Code</label>
                        <input type="text"
                               name="size_code"
                               value="{{ next_code }}"
                               class="form-control"
                               readonly>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Size Name</label>
                        <input type="text"
                               name="size_name"
                               class="form-control"
                               placeholder="Enter size"
                               required>
                    </div>

                </div>

                <br>

                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-primary px-5">
                        Save Size
                    </button>

                    <a href="{% url 'Size_list' %}" class="btn btn-secondary px-5">
                        View Sizes
                    </a>
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock %}
